.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 25px 0;
}

.dashboard__content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    display: grid;
    gap: 27px;
    grid-template-columns: repeat(1, minmax(300px, 330px));
    justify-content: center;

    @include desktop {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.dashboard__person {
    background-color: $darkBlue;
    border-radius: $baseRadius;
    width: 100%;

    @include desktop {
        grid-row-start: 1;
        grid-row-end: 3;
        height: 100%;
    }
}

.dashboard__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $baseRadius;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 95% -10%;
    padding: 40px 0 0;

    // @include desktop {
    //     margin: 0 0 1rem;
    // }
}

.dashboard__item--work {
    background-image: url(../images/icon-work.svg);
    background-color: $lightRed-work;
}

.dashboard__item--play {
    background-image: url(../images/icon-play.svg);
    background-color: $softBlue-play;
}

.dashboard__item--study {
    background-image: url(../images/icon-study.svg);
    background-color: $lightRed-study;
}

.dashboard__item--exercise {
    background-image: url(../images/icon-exercise.svg);
    background-color: $limeGreen-exercise;
    background-position: 95% 0;
}

.dashboard__item--social {
    background-image: url(../images/icon-social.svg);
    background-color: $violet-social;
}

.dashboard__item--care {
    background-image: url(../images/icon-self-care.svg);
    background-color: $softOrange-selfCare;
}