.info-card {
    background-color: $blue;
    border-radius: $baseRadius;
    padding: 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    @include desktop {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-grow: 1;
    }
}

.info-card__image {
    width: 75px;
    margin: 0 15px 0 0;
    border: 3px solid white;
    border-radius: 50%;

    @include desktop {
        margin: 0 0 2rem;
    }
}

.info-card__subtitle {
    font-size: 15px;
    margin: 0 0 7px 0;
}

.info-card__title {
    font-size: 23px;
    font-weight: $weightLight;

    @include desktop {
        font-size: 32px;
        margin: 0 0 2.25rem;
        line-height: 1.1;
    }
}