.tracking-card {
    background-color: $darkBlue;
    border-radius: $baseRadius;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem;
    box-sizing: border-box;
    position: relative;
    bottom: -2px;
}

.tracking-card:hover {
    background-color: $hoverCard;
}

.tracking-card__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 1rem;
}

.tracking-card__title {
    font-weight: $weightMedium;
}

.tracking-card__menu {
    width: 20px;
    height: 6px;
    cursor: pointer;
}

.tracking-card__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
        flex-direction: column;
        align-items: flex-start;
    }
}

.tracking-card__time {
    font-size: 28px;

    @include desktop {
        margin: 0 0 1rem;
    }
}

.tracking-card__prev {
    font-size: 14px;
    color: $paleBlue;

    @include desktop {
        font-size: 12px;
    }
}